node_modules
extension.zip
.idea/
.DS_Store
Thumbs.db
package-lock.json
extension/third_party/
!extension/third_party/README.md
!extension/third_party/jingjingxyk
!extension/third_party/josdejong/svelte-jsoneditor
extension/_metadata/
web-backup/
experimental-features/v3/rules/example/backup/
tools/git-clean-file-history.sh
tools/local-deploy.sh
tools/download-chromium-extension-backup.sh
tools/blocked-domain.py
tools/web/proxy.pac
dist
