node_modules
extension.zip
.idea/
.DS_Store
Thumbs.db
server/
server/*
package-lock.json

extension/third_party/
!extension/third_party/README.md
!extension/third_party/jingjingxyk
!extension/third_party/josdejong/svelte-jsoneditor

extension/_metadata/
extension/tools/git-clean-file-history.sh
extension/tools/local-deploy.sh

extension/web-backup/
extension/rules/example/backup/


tools/download-chromium-extension-backup.sh
tools/blocked-domain.py
tools/web/proxy.pac

dist
var/


