node_modules
extension.zip
.idea/
.DS_Store
Thumbs.db
server/
server/*
extension/_metadata/
extension/test/extension-v3-test/
extension/test/chromium-tools/
package-lock.json
extension/tools/venv/
extension/tools/chrome-linux.zip
extension/tools/chrome-linux/
extension/tools/firefox/
extension/tools/firefox-*
extension/tools/blocked-domain.py
extension/tools/temp/
extension/test/nohup.out
extension/tools/git-clean-file-history.sh
extension/tools/local-deploy.sh
extension/tools/web/proxy.pac
extension/tools/download-chromium-extension-backup.sh

extension/third_party/
!extension/third_party/README.md
!extension/third_party/jingjingxyk
!extension/third_party/josdejong/svelte-jsoneditor

dist
extension/manifest-backup.json
extension/web-backup/
extension/rules/example-no-use/backup/

