**/.git
**/.svn
**/.hg
**/node_modules
node_modules
extension.zip
.idea/
.git/
.DS_Store
Thumbs.db
server/
server/*
extension/_metadata/

package-lock.json

*.js

extension/third_party/
extension/manifest-backup.json
tools/web/proxy.pac
tools/tools/prefs-latest.js

dist
var