body {
  background-color: #f8f8f8;
}

input {
  min-width: 400px;
}
li {
  font-size: 16px;
}

textarea {
  min-width: 200px;
  min-height: 200px;
}

iframe{
  border:none;
  display:inline;
}

.rule_dynamic_set_list li:hover,.rule_static_set_list li:hover{

  color: #c5955d;
  font-size: 1.3rem;

}
