body {
  background-color: #f8f8f8;
}

input {
  min-width: 400px;
}
li {
  font-size: 16px;
  list-style: decimal;
}
.box{
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
textarea {
  min-width: 200px;
  min-height: 200px;
}

iframe{
  border:none;
  display:inline;
}

.rule_dynamic_set_list li:hover,.rule_static_set_list li:hover{

  color: #c5955d;
  font-size: 1.3rem;

}
