name: "submit"
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Zip Extension
        run: npm run build
      - name: Browser Plugin Publish
        uses: PlasmoHQ/bpp@v2
        with:
          artifact: "extension.zip"
          keys: ${{ secrets.SUBMIT_KEYS }}
